html {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(135, 153, 211, 0.623);  
}

/* NAVIGATION */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  nav li a:hover {
    background-color: #111;
    text-align: center;
  }

 img {
      border-radius: 80px;
  }

  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }